
body {
  font-family: 'Poppins', sans-serif;
}

#svg {
  width: 20rem;
  height: auto;
  position: absolute;
  top:1rem;
  margin-left: -1rem;
}


header {
	height: 9rem;
	background-color: white;
	color: black;
	transition-property: height;
	transition-duration: .5s;
	padding: 1rem 2rem;
  padding-top: 3rem;
	overflow: hidden;
	font-size: 2rem;
  z-index: 3;
  position: fixed;
  width: 100vw;
}


header ul {
	margin-top: 10rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

header ul li {
	margin-bottom: 2rem;
	border-bottom: .1rem solid black;
	padding-bottom: 2rem;
}

header ul li a {
	text-decoration: none;
	color: black;
}

.hamburger {
	width: 3rem;
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
}

.hamburger .lijn{
  width: 3rem;
  height: .1rem;
  background-color: black;
  display: block;
  margin: .7rem auto;
  transition: all 0.5s ease-in-out;
}

div.actief .lijn:nth-child(2){opacity: 0;}
div.actief .lijn:nth-child(1){transform: translateY(1rem) rotate(45deg);}
div.actief .lijn:nth-child(3){transform: translateY(-.6rem) rotate(-45deg);}

header.uitgeklapt {
	height: 100vh;
}



/* MAIN */


main h1 {
  padding-top: 15rem;
  font-size: 35px;
  margin-bottom: 1.5rem;
  font-family: 'DM Serif Display', serif;
  text-align: right;
  line-height: 4rem;
  margin-right: 4rem;
}

.onderlijn {
  box-shadow: inset 0 -23px 0 #F8D1D2;
  font-size: 50px;
}

.titel {
  font-size: 35px;
  font-family: 'DM Serif Display', serif;
  text-align: right;
  line-height: 4rem;
  margin-right: 6rem;
}


main {
}

/* MAIN - FILTER */

button:active,
.button.is-checked {
  color: black;
  font-weight: bolder;
}

.button.is-checked {
  color: black;
}

.button {
  border: none;
  font-size: 1.5rem;
  color: #999999;
  background-color: white;
  padding-top: 1.3rem;
  padding-right: 1rem;
}

button:focus {
  outline:0;
}

button:hover {
  color: black;
  font-weight: bolder;
}

#filters {
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 6.5rem;
}

/* MAIN - GRID */

.container div {
  height:35rem;
  width: 35rem;
}

#eerste{
  background-image: url(afb/brandingcloots2.png);
}

#tweede{
  background-image: url(afb/rebrandingcloots.png);
}

#vierde{
  background-image: url(afb/vierkantjupe2.png);
}
#vijfde{
  background-image: url(afb/vierkantotomat2.png);
}
#zesde{
  background-image: url(afb/chips.png);
}

#negende{
  background-image: url(afb/BCVF4.png);
}
#tiende{
  background-image: url(afb/vierkantbase2.png);
}
#elfde {
  background-image: url(afb/cmt3vierkant2.png);
}
#twaalfde {
  background-image: url(afb/display.png);
}

#eerste, #tweede, #vierde, #vijfde, #zesde, #negende, #tiende, #elfde, #twaalfde {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



h2 {
      height: 100%;
      position: relative;
      color: transparent;
      font-size: 2.4rem;
      padding-top: 3rem;
      padding-left: 3rem;
      font-weight:700;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      display: flex;
      transition-property: all;
      transition-duration: 0.2s;
      line-height: 2.4rem;
}

h3 {
  height: 100%;
  position: relative;
  color: transparent;
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 6.5rem;
  line-height: 2rem;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  transition-property: all;
  transition-duration: 0.2s;
}

.container div:hover h2 {
  background-color: #06B9E3;
  color: white;
}


.container div:hover h3 {
  color: white;
}


.element-item {
  position: relative;
  width: 20%;

  margin:1.4rem;
}

/* FOOTER */

footer {
  margin-top: 6rem;
  position: relative;
  margin-left: 6rem;
  margin-right: 6rem;
}

footer p {
  color: #999999;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.3rem;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.socialmedia {
  position: absolute;
  bottom:0rem;
  right: 0rem;
}

footer ul {
  display: flex;
  font-size: 1.5rem;
}

footer li {
  margin: 0 1rem;
}

footer a {
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration: .5s;
}

footer a:hover {
  color: #06B9E3;
}

/* MEDIA QUERIES */


@media(min-width: 700px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

main {
padding: 0rem;
}

@media(min-width: 1000px) {

  header {
    background-color: white;
    height: 13rem;
    position: static;
    font-size: 1.8rem;
  }

  .hamburger {display: none;}
  header ul li {display: inline;border: 0;margin-left: 3rem;}
  header ul li a {color: #323232;}
  header ul {
    position: absolute;
    top: 6rem;
    right: 10rem;
    margin: 0;
    font-size: 1.5rem;
  }


    #svg {
      width: 25rem;
      height: auto;
      position: absolute;
      margin-left: 2rem;
      margin-top: 1rem;
    }

  header ul li a:hover{
    border-bottom: .1rem solid black;
  }

  .geselecteerd {
    border-bottom: .1rem solid black;
  }

  main h1 {
    padding-top: 8rem;
  }

}


@media(min-width: 1100px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
  }
}

@media(min-width: 1500px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
  }

  .container div {
    height:40rem;
    width: 40rem;
  }
}
